.am-btn{
  cursor:default;
}
.top{
  top:0;
}
.bottom{
  bottom:5px;
}
.progress{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  opacity:1;
  transition:opacity 1s ease-in-out;
}
#progress2{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding:0 0 1% 0;
}
.info-container{
  width:100%;
  margin:0;
  list-style: none;
  display:flex;
  flex-flow: column nowrap;
  padding:0;
  .info-fenge{
    border-top:1px solid rgb(238,238,238);
    margin:19px 0 20px 0;
  }
  .info-item{
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width:100%;
    height:100px;
    .info-img{
      outline:1px solid #0e90d2;
      width:100px;
      height:100%;
      flex-grow:0;
      flex-shrink: 0;
      .img{
        width:100px;
        height:100px;
        opacity:0;
        transition:opacity 0.25s ease-in-out;
      }
    }
    .info-mesg{
      padding:0 2%;
      height:100px;
      display:flex;
      flex-flow:column nowrap;
      justify-content: space-between;
      align-content:space-between;
      flex:1 1 auto;
      width:0;
      .row-1{
        flex:2 1 auto;
        height:0;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items:stretch;
        .item-title{
          overflow: hidden;
          text-overflow: ellipsis;
          text-overflow: -o-ellipsis-lastline;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .row-2{
        flex:1 1 auto;
        display:flex;
        height:0;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;
        .item-user{
           align-items: center;
        }
        .item-time{
          // width:30%;
          // text-align:right;
        }
      }

      // .item-info,.item-user,.item-time{
      //   flex:0 1 auto;
      // }
      // .item-info{
      //   overflow: hidden;
      //   text-overflow:ellipsis;
      // }
    }
  }
}
