#ptr{
  padding: 0px;
  margin: 0px;
  display: block;
  height:40px;
  border: 1px solid #000;
  border-top:0px;
  border-left:0px;
  border-right: 0px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  margin-top: -41px;
}
